### Getting the national production weights for each county, for each year

In [2]:
import pandas as pd

In [3]:
# Read in USDA data
usda = pd.read_csv("../..//data/USDA/final/USDA_county_yields_w_county_trends.csv")
usda["state_fips_code"] = usda["state_fips_code"].astype(str).str.zfill(2)
usda["county_code"] = usda["county_code"].astype(str).str.zfill(3)
usda["GEOID"] = usda["state_fips_code"] + usda["county_code"]
usda["GEOID"] = usda["GEOID"].astype(str).str.zfill(5)
usda.set_index(["GEOID", "year"], inplace = True)

In [4]:
usda.head()

,,state_fips_code,county_code,asd_code,Value,area,log_Value,lowess_log_Value,target_Value
GEOID,year,,,,,,,,
01001,1950,01,001,40,17.0,29600.0,2.833213,2.922636,-0.089422
01011,1950,01,011,40,11.0,24200.0,2.397895,2.684326,-0.286430
01047,1950,01,047,40,13.0,44200.0,2.564949,2.724326,-0.159377
01051,1950,01,051,40,23.0,38900.0,3.135494,3.057709,0.077785
01063,1950,01,063,40,16.0,23900.0,2.772589,2.724703,0.047885

In [5]:
# Tidy
del usda["state_fips_code"]
del usda["county_code"]
del usda["asd_code"]
del usda["log_Value"]
del usda["lowess_log_Value"]
del usda["target_Value"]

In [6]:
# Construct national weights (total production by weighted sum of counties)
usda["national_weight"] = usda["area"] * usda["Value"]
usda_norm = usda.groupby("year").sum().drop(columns = ["Value", "area"])

In [7]:
# Construct county to national weights
usda = pd.merge(usda.reset_index(), usda_norm.reset_index(), on = "year", how = "outer", copy = False).drop_duplicates()

usda["national_weight"] = usda["national_weight_x"] / usda["national_weight_y"]
del usda["national_weight_x"]
del usda["national_weight_y"]

In [8]:
usda.head()

   GEOID  year  Value     area  national_weight
0  01001  1950   17.0  29600.0         0.000211
1  01011  1950   11.0  24200.0         0.000111
2  01047  1950   13.0  44200.0         0.000241
3  01051  1950   23.0  38900.0         0.000375
4  01063  1950   16.0  23900.0         0.000160