# County-level yield analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
plt.rcParams.update({'font.size': 24})

import seaborn as sns
sns.set()

###Â USDA ground truth

In [6]:
usda = pd.read_csv("../../model_results/output/USDA_county_yields_w_state_trends.csv")

In [7]:
usda.head()

,GEOID,year,state_fips_code,county_code,asd_code,Value,area,Log_value,state_Value,lowess_log_state_Value,target_Value
0,1001,1950,1,1,40,17.0,29600.0,2.833213,21.5,3.033747,-0.200534
1,1011,1950,1,11,40,11.0,24200.0,2.397895,21.5,3.033747,-0.635852
2,1047,1950,1,47,40,13.0,44200.0,2.564949,21.5,3.033747,-0.468798
3,1051,1950,1,51,40,23.0,38900.0,3.135494,21.5,3.033747,0.101747
4,1063,1950,1,63,40,16.0,23900.0,2.772589,21.5,3.033747,-0.261158

## GMFD

In [15]:
gmfd = pd.read_csv("../../model_results/output/res_yield_historical_gmfd.csv")

In [16]:
gmfd.head()

   GEOID  Year  projected  target_Value  projected_offset
0   1001  1960   0.320877     -0.037204         -0.306493
1   1001  1961   0.572987      0.063065         -0.054383
2   1001  1962   0.098347     -0.217014         -0.529024
3   1001  1963   0.348475      0.114450         -0.278895
4   1001  1964   0.413410     -0.005711         -0.213960

In [17]:
gmfd_grid = pd.read_csv("../../grids/gmfd/output/counties_GMFD_weighted.csv")

In [21]:
gmfd_grid.query("GEOID == 31039").head()

   STATEFP  COUNTYFP  GEOID  latitude  longitude  within_county_weight
0       31        39  31039       407       1053              0.011693
1       31        39  31039       407       1053              0.011567
2       31        39  31039       407       1053              0.047781
3       31        39  31039       407       1053              0.047781
4       31        39  31039       407       1053              0.010752

##Â NEX

In [2]:
rcp85 = ["res_yield_rcp85_r1i1p1_BNU-ESM.csv",
"res_yield_rcp85_r1i1p1_CCSM4.csv",
"res_yield_rcp85_r1i1p1_CESM1-BGC.csv",
"res_yield_rcp85_r1i1p1_CNRM-CM5.csv",
"res_yield_rcp85_r1i1p1_CSIRO-Mk3-6-0.csv",
"res_yield_rcp85_r1i1p1_CanESM2.csv",
"res_yield_rcp85_r1i1p1_GFDL-CM3.csv",
"res_yield_rcp85_r1i1p1_GFDL-ESM2G.csv",
"res_yield_rcp85_r1i1p1_GFDL-ESM2M.csv",
"res_yield_rcp85_r1i1p1_IPSL-CM5A-LR.csv",
"res_yield_rcp85_r1i1p1_IPSL-CM5A-MR.csv",
"res_yield_rcp85_r1i1p1_MIROC-ESM-CHEM.csv",
"res_yield_rcp85_r1i1p1_MIROC-ESM.csv",
"res_yield_rcp85_r1i1p1_MIROC5.csv",
"res_yield_rcp85_r1i1p1_MPI-ESM-LR.csv",
"res_yield_rcp85_r1i1p1_MPI-ESM-MR.csv",
"res_yield_rcp85_r1i1p1_MRI-CGCM3.csv",
"res_yield_rcp85_r1i1p1_NorESM1-M.csv",
"res_yield_rcp85_r1i1p1_bcc-csm1-1.csv",
"res_yield_rcp85_r1i1p1_inmcm4.csv",
"res_yield_rcp85_r1i1p1_ACCESS1-0.csv"]

In [3]:
hist = ["res_yield_historical_r1i1p1_ACCESS1-0.csv",
"res_yield_historical_r1i1p1_BNU-ESM.csv",
"res_yield_historical_r1i1p1_CCSM4.csv",
"res_yield_historical_r1i1p1_CESM1-BGC.csv",
"res_yield_historical_r1i1p1_CNRM-CM5.csv",
"res_yield_historical_r1i1p1_CSIRO-Mk3-6-0.csv",
"res_yield_historical_r1i1p1_CanESM2.csv",
"res_yield_historical_r1i1p1_GFDL-CM3.csv",
"res_yield_historical_r1i1p1_GFDL-ESM2G.csv",
"res_yield_historical_r1i1p1_GFDL-ESM2M.csv",
"res_yield_historical_r1i1p1_IPSL-CM5A-LR.csv",
"res_yield_historical_r1i1p1_IPSL-CM5A-MR.csv",
"res_yield_historical_r1i1p1_MIROC-ESM-CHEM.csv",
"res_yield_historical_r1i1p1_MIROC-ESM.csv",
"res_yield_historical_r1i1p1_MIROC5.csv",
"res_yield_historical_r1i1p1_MPI-ESM-LR.csv",
"res_yield_historical_r1i1p1_MPI-ESM-MR.csv",
"res_yield_historical_r1i1p1_MRI-CGCM3.csv",
"res_yield_historical_r1i1p1_NorESM1-M.csv",
"res_yield_historical_r1i1p1_bcc-csm1-1.csv",
"res_yield_historical_r1i1p1_inmcm4.csv"]